extends base.pug

block head
    title #{pageTitle} | Wetube
block content
    form(action="/" method="POST")
        input(placeholder="Title", required, type="text", name="title")
        input(placeholder="Manufacturer", required, type="text", name="manufacturer")
        input(placeholder="Distributer", required, type="text", name="distributer")
        input(placeholder="Description", required, type="text", name="description")
        input(placeholder="Price", required, type="number", name="count")
        input(placeholder="Count", required, type="text", name="price")
        input(type="submit", value="Add Item")