extends base.pug

block head
    title #{pageTitle} | Wetube
block content
    h1 Home!
    .btn-group(role='group' aria-label='Basic example')
        button.btn.btn-primary(type='button') Left
        button.btn.btn-primary(type='button') Middle
        button.btn.btn-primary(type='button') Right